*{
    margin: 0;
    padding: 0;
    /* right: inherit; */
    font-family: Arial, Helvetica, sans-serif;
    overflow-x:hidden;
    
}

body{
       
    background: url(https://media.istockphoto.com/id/2165686213/photo/colorful-pastel-blurry-gradient-blue-green-white-frosted-glass-effect-abstract-background.jpg?s=612x612&w=0&k=20&c=DlmZJ-8Bgv1F8qwsA39ch4W8eMzcI4-TPCuM5LL5heE=);
    background: radial-gradient(circle, rgba(215, 55, 255, 0.184) 0%, rgba(181, 255, 251, 0.25) 100%);
    background-size:contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* .menu-hide{

    display: none;

} */

.text-light:hover{

    text-decoration: none;
}

.menu_links{
    
    width: fit-content;
    text-align: left;
    justify-content: center;
    margin: auto;
}


.opt{
    cursor: pointer;
    display: none;
    
    
}

.menu{
    cursor: pointer;
}


.menu_hide{
    
    visibility: hidden;
    transition:2s;
}


.head{

    display: block;
    justify-content: center;
    width: 50%;
    padding: 10px;
    background-color: rgb(53, 53, 53);
    margin: auto;
    border-radius: 50px;
    text-align: center;
    height: fit-content;
    color: white;

}



.img_con{
    display:flex;
    justify-content: center;

    /* width: 30%; */
    /* border: solid red 1px; */

}

.img_con img{

    display: flex;
    justify-content: center;
    width: 20%;
    padding: 10px;
    border-radius: 50%;
    border:5px rgb(110, 1, 219) solid;

    margin: 100px;
    
}


.myname{

    display: flex;
    justify-content: center;
    font-weight: bold;
    color: red;    

}

.mytitle{
    display: flex;
    justify-content: center;
    color: gray;
}

.prof-about{
    margin: 0% 15% 5% 15%;
}

.contacts{

    /* border: solid red 1px; */

}

.contacts a{

    text-decoration: none;
    margin-left: 10px;
    overflow: hidden;
    padding: 0;
    color: black;
    /* background-color: aqua; */
    
}

.contacts a:hover{
    text-decoration: none;
}

.contacts label{
    color: black;
    width: 100%;
    overflow: hidden;
    padding: 0;
}

/* language  */




.language_con{

    margin: 0 15% 0 15%;
    width: 100%;

}

.lang_slider{
    margin-left: 50px;
    background-color:  rgb(239, 239, 239);
    width: 150px;
    height: 20px;
    border-radius: 20px;
}

.lang_level{
    /* width: 10%; */
    height: 100%;
    background-color: rgb(0, 228, 141);
    border-radius: 20px;
}

.edu-title{

    font-size: 200%;
    text-align: center;
    font-weight: bolder;
    padding: 50px;
    margin-top: 10px;
}


.edu_grid {

    justify-content: center;
    display: grid;
    grid-template-columns: repeat(4,18%);
    /* gap: 2%; */
    color: rgb(86, 86, 86);
    height: max-content;
    
}

.edu_list{

  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1),inset 0 1px 0 rgba(255, 255, 255, 0.5),inset 0 -1px 0 rgba(255, 255, 255, 0.1),inset 0 0 10px 5px rgba(255, 255, 255, 0.5);
  position: relative;
  overflow: hidden;

    /* border: 1px solid rgba(255, 255, 255, 0.48); */
    height: 350px;
    padding: 15px;
    border-radius: 15px;
    /* border: solid 1px rgb(171, 171, 171); */
    margin: 10px;
    

}


.edu_list:hover{

    border: rgb(198, 198, 198) solid 1px;
    cursor: pointer;
    backdrop-filter: blur(25px);
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;

}

.Dicon{

    width: 100%;
    height: fit-content;
    overflow: hidden;
}

.Dicon i{

    display: flex;
    font-size: 80px;
    justify-content: center;    
    margin-bottom: 25px;
    overflow:hidden;

}

.Dcourse{
    
    /* color: black; */
    font-weight: bold;

}

.Dlevel{
    color: rgb(89, 89, 89);
}

.cbtn{

    display: flex;
    background-color: rgb(34, 34, 34);
    color: white;
    border: none;
    padding: 5px 20px 5px 20px;
    border-radius: 20px;
    

}

.cbtnc{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.jobgrid{

    display: grid;
    grid-template-columns: repeat(5,20%);
    margin: 0% 10% 0% 10%;
    /* border: solid green 3px; */
    /* overflow: scroll; */
    
    

}

.cbtnc a:hover{
     text-decoration: none;
     color: gray;
    
}

.jobs{

    border: solid red 1px;
    
}

.job-card{

    cursor: pointer;
    border: solid rgb(221, 167, 255) 1px;
    /* padding: 10px; */
    border-radius: 20px;
    margin: 10px;
    height: auto;
    
}

.job-card:hover{

    box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px, rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.04) 0px 6px 6px -3px, rgba(14, 63, 126, 0.04) 0px 12px 12px -6px, rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;

}

.job-image{

    height: 50%;    

}


.job-img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 0px 0px;
}

.job_detail{
    padding: 10px;
}

.job-title{

    color: rgb(104, 0, 196);
    font-weight: bold;

}

.job-company{
    color: rgb(70, 70, 70);
    overflow: hidden;
    font-family:Arial, Helvetica, sans-serif;
}

.Bbtn{

    display: flex;
    background-color: rgb(34, 34, 34);
    color: white;
    border: none;
    padding: 5px 20px 5px 20px;
    border-radius: 20px;
    

}

.company-logo{

    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: solid rebeccapurple 1px;
}

.skill_grid{

    overflow: scroll;
    display: grid;
    width: 80%;
    grid-template-columns: repeat(20, 200px);
    margin: 0% 10% 5% 10%;
    margin-top: 0;
    margin-right: 10%;
    margin-left: 10%;
    /* width: 80%; */
    height: 200px;
    /* border: solid gray 2px; */

}

.skill_card{

    height: 100%;
    background-color: rgb(220, 220, 220);
    /* border: solid red 1px; */
    margin-left: 5px;

}

.skill_card i {
    overflow:hidden;

}

.skill_icon{
    /* border: solid red 1px; */
    height: 80%;
    font-size: 500%;
    text-align: center;
    
}

.skill_title{
    text-align: center;
}

.Physical_skill{
    margin: 0 10% 0 10%;
}

.location_con{
    margin: 2% 10% 0% 10%;
    width: 80%;
}





@media only screen and (max-width: 900px){

    .edu_grid  {

    grid-template-columns: repeat(2,30%);

    }

   

}

@media only screen and (max-width: 600px){

   
    .edu_grid  {

    grid-template-columns: repeat(1,60%);
    /* gap: 2%; */

    }

    .img_con img{

    width: 35%;
    margin: 50px;

    }

    .myname{
        font-size:large;
    }

    .mytitle{

        font-size: large;

    }

    .jobgrid{

    display: grid;
    grid-template-columns: repeat(1,100%);
    margin: 0% 10% 0% 10%;
    overflow: scroll;
    
    }


}